.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

body {
  background-image: url("../public/battleshipBackground.jpg");
}

.gameBoards {
  position: relative;
  display: table;
  width: 100%;
}

h4 {
  position: relative;
  left: -39%; 
}

.board1 {
  display:table-cell;
}

.board2 {
  clear: both;
  display:table-cell;
  overflow: hidden;
}

p {
  font-size: 25px;
  width: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
